In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("02-exercise-pids2023.ipynb")

In [1]:
import numpy as np
from pandas import DataFrame as df
from nose.tools import assert_is_instance, assert_equal, assert_almost_equal, assert_true
import otter
grader = otter.Notebook()

# Exercise sheet 2
**Hello everyone!**

This is the first graded exercise sheet. <br>
**Points: 15 **

Topics of this exercise sheet are:
* Work with Jupyter
* See autograding
* Lecture 2: Tidy data, pandas

Please let us know if you have questions or problems! <br>
Contact us during the exercise session, on [ADAM](https://adam.unibas.ch/goto_adam_crs_1266890.html), [Piazza](https://piazza.com/unibas.ch/spring2023/63982), or [via email](https://sada.dmi.unibas.ch/en/teaching/pids23).

Your notebook will be automatically graded using gradescope. Before the exercise session, you should have received an email saying that you were registered to a course in gradescope. If this is not the case, please contact us.

The sheet is released before the exercise session on Tuesday. You have until the next exercise session on Tuesday to submit this sheet. Most of the questions of the exercise sheet can be handle during the session.

**Handout date**: 2023/03/7 <br>
**Submission date**: 2023/03/14 (before 4pm)<br>
**Discussion date**: 2023/03/14

## 1 - Tidy data (9 points)

### A (2 points)
We will use data published by the [World Bank](https://data.worldbank.org/indicator/SP.POP.TOTL) about population in countries.

In [2]:
import pandas as pd

population = pd.read_csv("population_data.csv", skiprows=3).dropna(how='all', axis=1)
population.head()

**Question 1**:
Manipulate the dataframe "population" to be tidy. Currently, column headers are values, not variable names.

* Make a new dataframe "population_melted" that contains the same data as "population", but
    * it has a new column "Year" containing the year of the observation
    * it has a new column "Population" containing the number of inhabitants of the country in this year
    * otherwise, it has exactly the same columns and data as "population"
*Hint*: you can use 'pd.melt'.

In [3]:
population_melted = ...
...

In [ ]:
grader.check("Question 1")

**Question 2**: Sort the dataframe population_melted by "Country Name" and "Year"

In [9]:
population_melted_sort = ...

### B (3 points)
We will use data about the average height in countries around the world. It comes from [Kaggle](https://www.kaggle.com/majyhain/height-of-male-and-female-by-country-2022).

In [33]:
height = pd.read_csv("height_2022.csv")
height.head(-1)

**Question 3**: Make a new dataframe "height_tidy" where you removed the columns "Male Height in Ft", "Female Height in Ft"

In [12]:
height_tidy = ...

In [ ]:
grader.check("Question 3")

In [15]:
height_tidy.head()

**Question 4**: Manipulate the dataframe "height_tidy" to be tidy. Currently, multiple variables are stored in one column.

* Make a new dataframe "height_melt" that contains the same data as "height_tidy", but
    * it has a new column "Sex" containing a single character "M" or "F" for "male"/"female"
    * it has a new column "Height in Cm" containing data about the height in cm

In [31]:
height_melt = ...
...

# shrink the data on gender to one letter
...

# show that it works
height_melt.head(5)

In [ ]:
grader.check("Question 4")

### C (4 points)
We will work with data about billboards in the 2000s (as in the lecture).

In [39]:
billboard = pd.read_csv("billboard_intermediate.csv")
billboard.head()

**Question 5:**: Manipulate the dataframe "billboard" into two dataframes that each store one observational unit.

* Make a new dataframe "billboard_songs" that contains information about the songs
    * It should contain these columns from the "billboard" dataframe: "artist.inverted", "track", "time", "genre"
* Make a new dataframe "billboard_charts" that contains information about the chart performance of the songs
    * It should contain these columns from the "billboard" dataframe: "date", "date.peaked", "week", "rank"
* Additionally, both dataframes should contain a column named "track_id" that gives each track a unique ID and links the information in the two dataframes.

(Hint: Pandas has a function [.groupby().ngroup()](https://stackoverflow.com/questions/39665374/how-to-make-a-group-id-using-pandas) that could help you with the track id)

In [40]:
...

...
billboard_songs = ...
billboard_songs.head()

billboard_charts = ...
billboard_charts.head()

In [ ]:
grader.check("Question 5")

## 2 - EDA (6 points)

### A (2 points)
Let's answer one more question about billboard hits in the 2000s. Use the billboard, billboard_songs or billboard_charts dataframes.

**Question 6**: What was the number one hit (rank = 1) on 2000/07/29? This question may seem random (and it is), but this is the 2000s! This is the day on which Jennifer Aniston married Brad Pitt. Did they play this song? Who knows.

* Define one variable
    * "name_song": Name of the song that was at rank 1 on the given date

In [35]:
...
name_song = ...
name_song

### 2b (4 points)
Let's answer some questions about average heights. Use the height, height_tidy or height_melt dataframes.

**Question 7**: What's the country with the tallest men?

* Define two variables
    * "country_tallest_men": Name of the country of tallest men as a string
    * "height_tallest_men": Average height of men in this country in cm

(Hint: Pandas function max() can help here!)

In [37]:
...

country_tallest_men = ...
height_tallest_men = ...

**Question8**: In which country is the difference of average heights between men and women largest?

* Define two variables
    * "country_largest_difference": Name of the country where the average height difference between men and women is largest
    * "largest_difference": Difference of average heights of men and women in this country in cm

In [41]:
...

...

country_largest_difference = ...
largest_difference = ...

**Question 9**: What's (Pearson's) correlation value of average male and average female height?

* Define a new variable "corr_avg_heights" that contains the correlation value of average male and female heights

(Hint: Use Panda's function corr().)

In [48]:
corr_avg_heights = ...

In [ ]:
grader.check("Question 9")

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export()